---
import './Header.css';
import { brandName, headerNav, homeSections } from '../../data/site';
---

<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo" aria-label={`Accueil ${brandName}`}>
      <img class="header__logo-icon" src="/logo.svg" alt="" decoding="async" />
    </a>

    <div class="header__end">
      <nav class="header__nav" aria-label="Navigation principale">
        <ul class="header__nav-list">
          {
            headerNav.map((item) => (
              <li>
                <a href={item.href} class="header__nav-link">
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <a href={homeSections.convertir} class="header__cta">
        Convertir
        <i class="header__cta-icon fa-solid fa-arrow-right-long" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</header>

<script>
  import { initHeaderScroll } from './header-scroll.ts';

  initHeaderScroll();
  document.addEventListener('astro:page-load', initHeaderScroll);
</script>
